
.sidebar {
    width: 250px;
    padding: 20px;
    overflow-y: scroll;
    color: #5e5b5b;
}

.sidebar h5 {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
}

.sidebar-menu, .submenu {
    list-style-type: none;
    padding: 0;
}

.sidebar-menu li, .submenu li {
    margin-bottom: 10px;
}

.sidebar-menu li a, .submenu li a, .sidebar-menu li > div, .submenu li > div {
    text-decoration: none;
    color: #333;
    font-weight: 400;
    display: block;
    padding: 8px 16px;
    cursor: pointer;
}

.sidebar-menu li.active a, .submenu li.active a, .sidebar-menu li.active > div, .submenu li.active > div {
    color: #007bff;
}

.submenu {
    padding-left: 20px;
}
