* {
  font-family: 'Assistant' sans-serif;
}
p{
  color: #5e5b5b;
}
ul li {
  color: #5e5b5b;
}
.container {
    max-width: 2000px;
    margin: 0 auto;
    padding-left: 20px;
    box-sizing: border-box;
}
.app-container {
  display: flex; 

}

.sidebar {
  width: 250px; 
  padding: 20px;
}

.main-content {
  flex: 1;
  padding: 20px; 
  max-width: 700px;
}
